[defaults]
inventory               = hosts
roles_path              = roles
collections_path        = collections
remote_tmp              = /tmp/.ansible-${USER}/tmp
gathering               = smart
gather_timeout          = 600
fact_caching            = jsonfile
fact_caching_connection = /tmp/.ansible_facts
fact_caching_timeout    = 300
retry_files_enabled     = false
forks                   = 40
timeout                 = 30
host_key_checking       = false
display_skipped_hosts   = false
deprecation_warnings    = false
system_warnings         = false
interpreter_python      = auto_silent

callbacks_enabled       = ansible.posix.profile_tasks, ansible.posix.timer

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey

[privilege_escalation]
become=true
become_method=sudo
become_user=root
become_ask_pass=false
